<!--<p>work-mode works!</p>-->
<!--<div>-->
<!--  {{ (time ) }}-->
<!--</div>-->
<div class="timer-container d-flex justify-content-center align-items-center row">
  <div class="timer">
    <span class="minutes"></span>
    <span>:</span>
    <span class="seconds"></span>
  </div>
</div>
<div class="buttons d-flex justify-content-center">
<div class="b">
  <button type="button" class="btn btn-primary">Pause/Resume</button>
  <span></span>
  <button type="button" class="b2 btn btn-primary" (click)="Reset(0)">Reset</button></div>
<div class="b1"></div>
</div>
<style>
  @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

  .timer-container {
    position: center;
    padding-top: 50%;
    font-size: 8rem;
    color: #555;
  }

  .timer {
    transition: background 0.35s;
    padding: 0.5em;
    border-radius: 100%;
    cursor: pointer;
  }

</style>

